.container {
    text-align: center;
}

table {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

input {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    padding: 4px;
  }